.banner {
	padding: 200px 0 100px 0;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 18px 10px;
	left: 40%;
	bottom: 200px;
	border: 1px solid #fff;
	border-radius: 10px;
	background: linear-gradient(
		90.21deg,
		rgba(24, 138, 100, 0.5) -5.91%);
	border: 5px solid rgba(255, 255, 255, 0.5);
	font-size: 20px;
	position: relative;
	
}

.banner h1 {
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 50px;
	display: block;
	top: 100px; 
	
}

.banner p {
	color: #fff;
	font-size: 28px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	width: 96%;
}

.banner button {
	color: white;
	background-color: transparent;
	font-weight: 700;
	font-size: 20px;
	margin-top: 60px;
	letter-spacing: 0.8px;
	display: flex;
	align-items: center;
	border: #fff;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
	animation: updown 3s linear infinite;
		background-color: transparent;
}

/* About Me */

.about {
	padding: 100px 0;
	position: relative;
}


.about h2 {
	font-size: 70px;
	font-weight: 700;
	margin: 25px;
	text-align: end;
}

.about p {
	font-size: 20px;
	letter-spacing: .5px;
	line-height: 2em;
	margin: 60px; 
	text-align: justify;
	width: 130%;
}

@keyframes updown {
	0% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(-20px);
	}
}

text-rotate > .wrap {
	border-right: 0.08 em solid #666;
}

@media (max-width: 991.98px) {
	.banner .logo-image {
	  padding: 150px 0 100px 0;
	}
  }